<p id="notice"><%= notice %></p>

<p>
  <strong>Validity:</strong>
  <%= @actor_attain_goal.validity %>
</p>

<p>
  <strong>Goal:</strong>
  <%= @actor_attain_goal.goal %>
</p>

<p>
  <strong>Actor:</strong>
  <%= @actor_attain_goal.actor %>
</p>

<p>
  <strong>Actor goal:</strong>
  <%= @actor_attain_goal.actor_goal %>
</p>

<p>
  <strong>Actor type:</strong>
  <%= @actor_attain_goal.actor_type %>
</p>

<p>
  <strong>Attainment:</strong>
  <%= @actor_attain_goal.attainment %>
</p>

<p>
  <strong>Startdate:</strong>
  <%= @actor_attain_goal.startdate %>
</p>

<p>
  <strong>Enddate:</strong>
  <%= @actor_attain_goal.enddate %>
</p>

<p>
  <strong>Score:</strong>
  <%= @actor_attain_goal.score %>
</p>

<%= link_to 'Edit', edit_actor_attain_goal_path(@actor_attain_goal) %> |
<%= link_to 'Back', actor_attain_goals_path %>
