<p id="notice"><%= notice %></p>

<p>
  <strong>Complaint:</strong>
  <%= @answer.complaint %>
</p>

<p>
  <strong>Actor:</strong>
  <%= @answer.actor %>
</p>

<p>
  <strong>Description:</strong>
  <%= @answer.description %>
</p>

<%= link_to 'Edit', edit_answer_path(@answer) %> |
<%= link_to 'Back', answers_path %>
