<p id="notice"><%= notice %></p>

<h1>Material Goals</h1>

<table>
  <thead>
    <tr>
      <th>Goal</th>
      <th>Material type</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @material_goals.each do |material_goal| %>
      <tr>
        <td><%= material_goal.goal %></td>
        <td><%= material_goal.material_type %></td>
        <td><%= material_goal.location %></td>
        <td><%= link_to 'Show', material_goal %></td>
        <td><%= link_to 'Edit', edit_material_goal_path(material_goal) %></td>
        <td><%= link_to 'Destroy', material_goal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Material Goal', new_material_goal_path %>
