<%= form_with(model: actor_relationship, local: true) do |form| %>
  <% if actor_relationship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(actor_relationship.errors.count, "error") %> prohibited this actor_relationship from being saved:</h2>

      <ul>
      <% actor_relationship.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :actor_id %>
    <%= form.text_field :actor_id %>
  </div>

  <div class="field">
    <%= form.label :actor2 %>
    <%= form.number_field :actor2 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
